<p style="text-align: justify;"><i><a target="_blank" href="https://py.checkio.org/forum/post/11382/4-mission-ideas-substrings/">There are four substring missions</a> 这些任务都是在一天内诞生的，您不应该需要超过一天的时间来解决它们。所有这些任务都可以通过蛮力简单地解决，但这总是最好的方法吗？(您可能还不能完成所有这些任务，但随着地图上开放的岛屿越来越多，您就可以完成这些任务了）。</i></p>
<p style="text-align: justify;">

    这是该系列的第三个任务，也是唯一一个您需要返回的不是子串而是子串长度的任务。您需要找到一个在给定字符串中重复不止一次的子串。这种重复不应该有重叠。例如，在字符串 "abcab "中，重复出现一次以上的最长子串是 "ab"，因此答案应该是2（"ab "的长度）。
</p>


<p>
   <strong>输入</strong>字符串 <span>(str{% if is_js %}ing{% endif %})</span>.
<p>

   <strong>输出：</strong>整数<span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 200px">
</p>

<div class="for_info_only">
    <p>
        <strong>举例说明：</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

