{% comment %}New initial code template{% endcomment %}
{% block env %}{% endblock env %}

{% block start %}
def double_substring(line: sting) -> int:
    """
        length of the longest substring that non-overlapping repeats more than once.
    """
    # your code here
    return 0
{% endblock start %}

{% block example %}
print('Example:')
print(double_substring('aaaa'))
{% endblock %}

{% block tests %}
{% for t in tests %}
assert {% block call %}double_substring({{t.input|p_args}})
{% endblock %} == {% block result %}{{t.answer|p}}{% endblock %}{% endfor %}
{% endblock %}

{% block final %}
print("The mission is done! Click 'Check Solution' to earn rewards!")
{% endblock final %}