<p style="text-align: justify;"><i><a target="_blank" href="https://py.checkio.org/forum/post/11382/4-mission-ideas-substrings/">There are four substring missions</a> qui sont nées en une seule journée et qui ne devraient pas vous prendre plus d'une journée pour les résoudre. Toutes ces missions peuvent être résolues par la force brute, mais est-ce toujours la meilleure façon de procéder? (vous n'avez peut-être pas encore accès à toutes ces missions, mais elles seront disponibles avec l'ouverture d'un plus grand nombre d'îles sur la carte).</i></p>
<p style="text-align: justify;">

    Il s'agit de la troisième mission de la série, et c'est la seule où vous devez retourner non pas une sous-chaîne, mais la longueur d'une sous-chaîne. Vous devez trouver une sous-chaîne qui se répète plus d'une fois dans une chaîne donnée. Cette répétition ne doit pas se chevaucher. Par exemple, dans une chaîne "abcab", la sous-chaîne la plus longue qui se répète plus d'une fois est "ab", la réponse doit donc être 2 (longueur de "ab")
</p>


<p>
   <strong>Entrée:</strong> Chaîne <span>(str{% if is_js %}ing{% endif %})</span>.
<p>

   <strong>Sortie:</strong> Entier <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 200px">
</p>

<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

