<p style="text-align: justify;"><i><a target="_blank" href="https://py.checkio.org/forum/post/11382/4-mission-ideas-substrings/">There are four substring missions</a> die alle an einem Tag entstanden sind und Sie sollten nicht mehr als einen Tag brauchen, um sie zu lösen. Alle diese Missionen können einfach mit brachialer Gewalt gelöst werden, aber ist das immer der beste Weg? (Sie haben vielleicht noch nicht Zugang zu all diesen Missionen, aber sie werden mit mehr geöffneten Inseln auf der Karte verfügbar sein).</i></p>

<p style="text-align: justify;">
    Dies ist die dritte Mission der Serie und die einzige, in der Sie nicht eine Teilzeichenkette, sondern eine Teilzeichenkettenlänge zurückgeben müssen. Sie müssen eine Teilzeichenkette finden, die sich mehr als einmal in einer gegebenen Zeichenkette wiederholt. Diese Wiederholung sollte keine Überschneidungen haben. Zum Beispiel ist in der Zeichenkette "abcab" die längste Teilzeichenkette, die sich mehr als einmal wiederholt, "ab". Die Antwort sollte also 2 sein (Länge von "ab")
</p>


<p>
   <strong>Eingabe:</strong> String <span>(str{% if is_js %}ing{% endif %})</span>.

<p>
   <strong>Ausgabe:</strong> Integer <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 200px">
</p>

<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

